* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
  --color-white: #ffffff;

  --color-primary: #BF83B3;
  --color-secondary: #333333;
  --color-third: #292929;
  --color-fourth: #CDC8C1;
  --color-fifth: #917145;
  --color-transparent: transparent;

  --font-navbar: 'Euclid Square';
  --font-poppins: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  position: relative;
}
::-webkit-scrollbar {
  width: 10px; /* ancho de la barra de scroll */
  height: 8px; /* alto de la barra de scroll en el eje Y */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* color de fondo de la pista de la barra de scroll */
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary); /* color del thumb de la barra de scroll */
  border-radius: 10px; /* borde redondeado del thumb de la barra de scroll */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9e6893; /* color del thumb de la barra de scroll al hacer hover */
}


/**
 * Styles for the navigation bar
 * 
 * This section contains all the styles for the navigation bar component.
 * It includes the logo, navigation links, and the menu button.
 * 
 **/
 
header {
  display: flex;
  justify-content: center;
}
.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999; 
}
.menu-icon {
  cursor: pointer;
}
.menu-icon-second {
  background: none;
  border: none;
}
.menu-icon-second:hover img.menu-icon {
  content: url(src/images/arrowhover.svg);
}
.nav {
  background-color: transparent;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: /* 26px  */auto 0;
  background-color: var(--color-transparent);
}
@media screen and (min-width: 768px) { 
  .nav {
    justify-content: space-between;
    padding: 0 40px;
    height: 128px;
    max-width: 1536px;
  }
  .right-image {
    display: none;
  }
  .left-image {
    display: none;
  }
}
@media screen and (min-width: 992px) { 
  .nav {
    padding: 0 73px;
  }
}
@media only screen and (max-width: 767px) {
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
  }

}
.menu-button {
  background: none;
  cursor: pointer;
  border: none;
}
@media screen and (min-width: 768px) { 
  .menu-button {
    display: none;
  }
}
.call-button {
  
}
@media screen and (min-width: 768px) { 
  .call-button {
    display: none;
  }
}



.nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 30px;
  display: none;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-secondary);
  font-family: var(--font-navbar);
}
@media screen and (min-width: 768px) { 
  .nav ul {
    display: flex;
    
    gap: 13px;
    font-size: 13px;
  }
}
@media screen and (min-width: 992px) { 
  .nav ul {
    gap: 30px;
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) { 
  .nav ul {
    gap: 30px;
    font-size: 16px;
  }
}
.logo {
  cursor: pointer;
  width: 112.76px;
  margin-top: 30px;
  margin-bottom: 46px;
}
@media screen and (min-width: 768px) { 
  .logo {
    margin: 0;
    
    
  }
}

@media screen and (min-width: 992px) { 
  .logo {
    margin-top: 26px;
    width: 180.41px;
    margin-bottom: 0;
    
  }
}
.nav-link {
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  color: var(--color-secondary); 
}
.nav-link:hover {
  color: var(--color-fifth);
}
.nav-link-bookings {
  width: 126px;
  text-decoration: none;
  height: 40px;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 13px 25px;
  transition: background-color 0.8s ease;
  border-radius: 300px;
  
}
.nav-link-bookings:hover {
  background-color: var(--color-fifth);
}
.icono-menu {
  color: var(--color-primary);
  font-size: 71px;
}



.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}


.home {
  display: flex;
  justify-content: center;
  color: white;
  min-height: 781px;
  height: auto;
}
@media screen and (min-width: 768px) {
  .home {
    min-height: 600px;
  }
  
}
@media screen and (min-width: 992px) { 
  .home {
    min-height: 746px;
  }
}

@media screen and (max-width: 767px) { 
  .home-content {
    text-align: center;
    margin: 152px 0 0;
    max-width: 335px;
  }
}
@media screen and (min-width: 768px) { 
  .home-content {
    text-align: left;
    margin: 175px 0 0;
}
}
@media screen and (min-width: 1200px) { 
  .home-content {
    text-align: left;
    margin: 210px 0 0;
}
}
.home-title {
  color: var(--color-secondary);
  font-family: Saol Display;
  font-size: 38px;
  
  line-height: 50.08px;
  letter-spacing: 0em;
  text-align: center;
  font-weight: 500;
  margin: -20px 0 30px 0;
  
}

@media screen and (min-width: 768px) { 
  .home-title {
    line-height: 93px;
    font-size: 61px;
    text-align: left;
    font-weight: 400;
    margin: 21px 0 6px 0;
  }
}

@media screen and (min-width: 992px) { 
  .home-title {
    line-height: 147px;
    font-size: 121px;
    text-align: left;
    font-weight: 400;
    margin: -20px 0 70px 0;
  }
}
.home-title img {
  margin-bottom: -18px;
  margin-left: 35px;
  display: none;
}
@media screen and (min-width: 768px) { 
  .home-title img {
    margin-bottom: -4px;
    margin-left: 19px;
    display: initial;
    width: 165px;
  }
}
@media screen and (min-width: 1200px) { 
  .home-title img {
    margin-bottom: -18px;
    margin-left: 35px;
    width: initial;
    display: initial;
  }
}
@media screen and (min-width: 768px) { 
  .home-img-second {
    display: none;
}
}












.home-first-paragraph {
  color: var(--color-primary);
  font-family: var(--font-poppins);
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  margin-left: 4px;
  margin-bottom: 20px;

}
@media screen and (min-width: 768px) { 
  .home-first-paragraph {
    margin-bottom: -29px;
}
}
@media screen and (min-width: 992px) { 
  .home-first-paragraph {
    margin-bottom: 0;
  }
}
.home-second-paragraph {
  color: var(--color-secondary);
  font-family: var(--font-poppins);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  width: 90%;
  max-width: 316px;
  margin: 40px auto;
}
@media screen and (min-width: 768px) { 
  .home-second-paragraph {
    margin: 0;
    max-width: 400px;
    font-size: 15px;
  }
}

@media screen and (min-width: 992px) { 
  .home-second-paragraph {
    text-align: left;
    margin-left: 4px;
    font-size: 21px;
    line-height: 32px;
    max-width: initial;
    margin: 0;
  }
}
.home-content-second {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) { 
  .home-content-second {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: 56px;
  }
}

@media screen and (min-width: 992px) { 
  .home-content-second {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}
.home-button {
  width: 100%;
  justify-content: center;
  margin: auto;
  max-width: 269px;
  height: 52px;
  background: none;
  display: flex;
  align-items: center;
  /* padding: 0 54px; */
  gap: 11px;
  cursor: pointer;
  color: var(--color-secondary);
  font-family: var(--font-poppins);
  font-weight: 400;
  transition: background-color 0.8s ease;
  border-radius: 100px;
  
  
}
@media screen and (min-width: 768px) { 
  .home-button {
    margin: 0;
  }
}
@media screen and (min-width: 992px) { 
  .home-button {
    width: 100%;
    height: 68px;
    max-width: 286px;
    justify-content: center;
    display: flex;
    margin: 0;
    
  }
}
.home-button:hover {
  background-color: var(--color-fifth);
  color: var(--color-white);
  border: 2px solid var(--color-fifth);
}
.home-button img.arrow-icon {
  margin-left: 10px;
}

.home-button:hover img.arrow-icon {
  content: url(src/images/arrow-white.svg);
}



/* Fin de la barra de navegacion */



/* Inicio de Home */


/* Fin de Home */

.about {
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 225, 255)
}








/* Inicio del Footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
  background-color: var(--color-third);
}
/* Fin del Footer */