@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --color-white: #ffffff;

  --color-primary: #BF83B3;
  --color-secondary: #333333;
  --color-third: #292929;
  --color-fourth: #CDC8C1;
  --color-fifth: #917145;
  --color-transparent: transparent;
  --color-text: #F4F4F4;
  --color-text-location: #CDC8C1;
  --color-border: #E1DBD3;

  --font-navbar: 'Euclid Square';
  --font-poppins: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  position: relative;
}
::-webkit-scrollbar {
  width: 10px; /* ancho de la barra de scroll */
  height: 8px; /* alto de la barra de scroll en el eje Y */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary); 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9e6893; 
}
/** _____________ Loader ______________  */

.loader {
  flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
    gap: 10px;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    transition: 0.5s linear;
}
/* .loader {
  background: var(--color-white);
  width: 100%;
  z-index: 999;
  align-items: center;
  height: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
} */

.ball {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: bounce6135 1s alternate infinite;
  transition: 0.5s linear;
}

.ball {
  background: var(--color-primary);
}

.ball:nth-child(2) {
  animation-delay: 0.25s;
}

.ball:nth-child(3) {
  animation-delay: 0.5s;
}

@keyframes bounce6135 {
  from {
    transform: scale(2);
  }

  to {
    transform: scale(1);
  }
}


/** _______________ Loader ______________  */

/** ________________ Nav ________________**/
 
header {
  display: flex;
  justify-content: center;
}
.nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 33px;
  background-color: var(--color-transparent);
}
.nav__logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.nav__menu-movil {
  background: none;
  cursor: pointer;
  border: none;
}
/* .nav__movil-img {
  
} */
.nav__logo {
  cursor: pointer;
  width: 112.76px;
  margin-top: 30px;
  margin-bottom: 46px;
}
/* .nav__call {

} */
/* .nav__call-img {
  
} */
.nav__links {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 30px;
  display: none;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-secondary);
  font-family: var(--font-navbar);
}
.nav__link {
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  color: var(--color-secondary); 
}
.nav__link:hover {
  color: var(--color-fifth);
}
.nav__link-bookings {
  border: none;
  width: 126px;
  text-decoration: none;
  /* height: 40px; */
  cursor: pointer;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 13px 25px;
  transition: background-color 0.8s ease;
  border-radius: 300px;
  
  
}
.nav__link-bookings:hover {
  background-color: var(--color-fifth);
}
/* .nav__menu-desktop {
  
} */
/* .nav__menu-desktop:hover img.nav__desktop-img {
  
} */
@media screen and (min-width: 768px) { 
  .nav {
    justify-content: space-between;
    padding: 0 40px;
    height: 128px;
    max-width: 1536px;
  }
  .nav__logo-container {
    display: initial;
    align-items: initial;
    justify-content: initial;
    width: initial;
  }
  .nav__menu-movil {
    display: none;
  }
  .nav__movil-img {
    display: none;
  }
  .nav__logo {
    margin: 0;
  }
  .nav__call {
    display: none;
  }
  .nav__call-img {
    display: none;
  }
  .nav__links {
    display: flex;
    gap: 13px;
    font-size: 12px;
  }
  .nav__menu-desktop {
    background: none;
    border: none;
    cursor: pointer;
  }
  .nav__menu-desktop:hover img.nav__desktop-img {
    content: url(/images/menu-desktop-hover.svg);
  }
  
}
@media screen and (min-width: 992px) { 
  .nav__links {
    gap: 20px;
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) { 
  .nav {
    padding: 0 73px;
  }
  .nav__logo {
    width: 160px;
  }
  .nav__links {
    gap: 30px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1500px) { 
  .nav {
    padding: 0 73px;
  }
  .nav__logo {
    margin-top: 26px;
    width: 180.41px;
    margin-bottom: 0;
  }
  .nav__links {
    gap: 30px;
    font-size: 16px;
  }
}



/** ________________ Nav ________________**/

/** ___________ Menu Desplegable ________  **/
.nav__menu-open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-third);
  z-index: 9999;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: menu-open 0.3s ease-in-out forwards;
  opacity: 0;
}

@keyframes menu-open {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.nav__menu-close {
  animation: menu-close 0.3s ease-in-out forwards;
  opacity: 1;
}

@keyframes menu-close {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
.nav__menu-open-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding: 0 33px;
}

.nav__menu-header {
  display: none;
}
.nav__menu-phone {
  display: flex;
  gap: 20px;
}
.nav__menu-number {
  color: var(--color-white);
  width: 160px;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-family: Euclid Square;
  font-weight: 300;
}
.nav__menu-buttons {
  display: flex;
  gap: 20px;
}
.nav__menu-button-call {
  background-color: var(--color-primary);
  cursor: pointer;
  color: var(--color-white);
  font-family: Euclid Square;
  font-size: 15px;
  font-weight: 400;
  width: 223px;
  height: 40px;
  border: none;
  border-radius: 300px;
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  -ms-border-radius: 300px;
  -o-border-radius: 300px;
  transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -ms-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
}
.nav__menu-button-call:hover {
  background-color: var(--color-fifth);
}
.nav__close-menu {
  background: none;
  border: none;
  cursor: pointer;
}
.nav__close-image {

}
.nav__menu-content {
  padding: 0 33px;
  margin-top: 81px;
}
.nav__menu-image {
  display: none;
}
.nav__menu-footer {
  
}
.nav__menu-content-links {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.nav__menu-content-links img {
  display: none;
}
.nav__menu-content-links p {
  font-weight: 300;
  font-size: 15px;
  color: var(--color-text);
  font-family: var(--font-navbar);
}
.nav__menu-content-links a {
  font-family: var(--font-poppins);
  font-weight: 400;
  font-size: 24px;
  text-decoration: none;
  color: var(--color-white);
  margin-bottom: -24px;
  transition: color 0.5s ease;
  
}
.nav__menu-content-links a:hover {
  color: var(--color-fifth);
}

@media screen and (min-width: 768px) { 
  .nav__menu-open {
    overflow: auto;
    background-repeat: no-repeat;
   
    
  }
  .nav__menu-header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    margin: 41px auto;
  }
  .nav__menu-phone {
    display: flex;
    gap: 20px;
  }
  .nav__menu-number {
    color: var(--color-white);
    width: 160px;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-family: Euclid Square;
    font-weight: 300;
  }
  .nav__menu-buttons {
    display: flex;
    gap: 20px;
  }
  .nav__menu-button-call {
    background-color: var(--color-primary);
    cursor: pointer;
    color: var(--color-white);
    font-family: Euclid Square;
    font-size: 15px;
    font-weight: 400;
    width: 223px;
    height: 40px;
    border: none;
    border-radius: 300px;
    transition: background-color 0.5s ease;
    
  }
  .nav__menu-button-call:hover {
    background-color: var(--color-fifth);
  }
  .nav__close-menu {
    background: none;
    border: none;
    cursor: pointer;
  }
  .nav__menu-image {
    margin-top: -70px;
    display: flex;
    justify-content: right; 
  }
  .nav__menu-image img {
    width: 100%;
    max-width: initial;
  }
  .nav__logo-dropdown-menu {
    display: none;
  }
  .nav__menu-content {
      max-width: 1200px;
      width: 90%;
      margin: auto;
      display: grid;
      grid-template-columns: 45% 30% 22%;
      grid-template-rows: 659px;
      grid-gap: 20px;
      padding: 0;
  }
  .nav__menu-content-links {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .nav__menu-content-links p {
    font-weight: 300;
    font-family: var(--font-navbar);
    font-size: 15px;
    color: var(--color-text)
  }
  .nav__menu-content-links img {
    width: 180.41px;
    display: block;
  }
  .nav__menu-content-links a {
    font-size: 32px;
    margin-bottom: -24px;
    text-decoration: none;
    font-family: var(--font-poppins);
    font-weight: 400;
    color: var(--color-text);
    transition: color 0.5s ease;
  }
  .nav__menu-content-links a:hover {
    color: var(--color-fifth);
  }
  .nav__menu-go-home-page {
    display: flex;
    flex-direction: column;
    text-align: end;
    margin-top: 69px;
  }
  .nav__menu-go-home-page a {
    font-family: var(--font-navbar);
    font-weight: 400;
    font-size: 13px;
    color: var(--color-primary);
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.5s ease;
    
  }
  .nav__menu-go-home-page a:hover { 
    color: var(--color-fifth);
  }
  .nav__menu-footer {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    margin: 41px auto;
  }
  .nav__menu-a{
    display: flex;
    gap: 42px;
    align-items: center;
    font-size: 7px;
    font-family: var(--font-navbar);
    font-weight: 400;
    color: var(--color-text);
    text-transform: uppercase;
    
  }
  .nav__menu-enlace {
    transition: color 0.5s ease;
    text-decoration: none;  
    font-family: var(--font-navbar);
    font-weight: 400;
    color: var(--color-text);
    
  }
  .nav__menu-enlace:hover {
    color: var(--color-fifth);
  }
  .nav__menu-img {
    display: flex;
    gap: 38.3px;
  }
}
@media screen and (min-width: 992px) { 
  .nav__menu-a {
    font-size: 10px;
  }
  .nav__menu-image img {
    
  }
  .nav__menu-go-home-page a {
    font-family: var(--font-navbar);
    font-weight: 400;
    font-size: 16px;
    color: var(--color-primary);
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.5s ease;
    
  }
  
}
@media screen and (min-width: 1200px) { 
  .nav__menu-a {
    font-size: 12px;
  }
  .nav__menu-image img {
    width: initial;
  }
  
  
}
/** ___________ Menu Desplegable ________  **/


/** ___________ Home ____________ */

.home {
  display: flex;
  justify-content: center;
  color: white;
  min-height: 781px;
  height: auto;
}
.home__content {
  text-align: center;
  margin: 152px 0 0;
  max-width: 335px;
}
.home__paragraph {
  color: var(--color-primary);
  font-family: var(--font-poppins);
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  margin-left: 4px;
  margin-bottom: 20px;

}
.home__title {
  color: var(--color-secondary);
  font-family: Saol Display;
  font-size: 30px;
  
  line-height: 50.08px;
  letter-spacing: 0em;
  text-align: center;
  font-weight: 500;
  margin: -20px 0 30px 0;
  
}
.home__image-desktop {
  margin-bottom: -18px;
  margin-left: 35px;
  display: none;
}
.home__image-movil {
  width: 90%;
}
.home__content-second {
  display: flex;
  flex-direction: column;
}
.home__subtitle {
  color: var(--color-secondary);
  font-family: var(--font-poppins);
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  width: 90%;
  margin: 40px auto;
}
.home__button {
  width: 80%;
  justify-content: center;
  margin: auto;
  height: 52px;
  background: none;
  display: flex;
  border: 1px solid;
  align-items: center;
  gap: 11px;
  cursor: pointer;
  color: var(--color-secondary);
  font-family: var(--font-poppins);
  font-weight: 400;
  transition: background-color 0.8s ease;
  border-radius: 100px;
}
.home__button:hover {
  background-color: var(--color-fifth);
  color: var(--color-white);
  border: 2px solid var(--color-fifth);
}
.home__button .home__arrow-icon {
  margin-left: 10px;
}

.home__button:hover .home__arrow-icon {
  content: url(/images/arrow-white.svg);
}

@media screen and (min-width: 359px) { 
  .home__title {
    font-size: 38px;
  }
  .home__image-movil {
    width: 100%;
  }
  .home__subtitle {
    font-size: 20px;
    width: 100%;
  }
  .home__button {
    width: 100%;
    max-width: 269px;
  }
}

@media screen and (min-width: 768px) {
  .home {
    min-height: 600px;
  }
  .home__content {
    text-align: left;
    margin: 175px 0 0;
    width: 100%;
    padding: 0 40px;
    max-width: initial;
  }
  .home__title {
    line-height: 11vw;
    font-size: 7.6vw;
    text-align: left;
    font-weight: 400;
    margin: 21px 0 6px 0;
  }
  .home__image-desktop {
    margin-bottom: -4px;
    margin-left: 19px;
    display: initial;
    width: 165px;
  }
  .home__image-movil {
    display: none;
  }
  .home__paragraph {
    margin-bottom: -29px;
  }
  .home__subtitle {
    margin: 0;
    /* max-width: 400px; */
    font-size: 1.7vw;
  }
  .home__content-second {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: 56px;
  }
  .home__button {
    margin: 0;
  }
  
}
@media screen and (min-width: 992px) { 
  .home__title {
    line-height: 10vw;
  }
  .home__image-desktop {
    margin-bottom: -9px;
    width: 224px;
  }
  .home__subtitle {
    /* max-width: 453px; */
    font-size: 17px;
  }
}



@media screen and (min-width: 1200px) { 
  .home {
    min-height: 746px;
  }
  .home__content {
    text-align: left;
    margin: 210px 0 0;
    padding: 0 73px;
  }
  .home__title {
    font-size: 7.5vw;
    
  }
  .home__image-desktop {
    margin-bottom: -18px;
    margin-left: 35px;
    width: 255px;
    display: initial;
  }
  .home__content-second {
    margin-top: 80px;
  }
  .home__subtitle {
    font-size: 20px;
    line-height: 32px;
  }
  .home__button {
    max-width: 286px;
    height: 68px
  }
}

@media screen and (min-width: 1500px) { 
  .home__content {
    width: initial;
    padding: 0;
  }
  .home__title {
    line-height: 147px;
    font-size: 121px;
    text-align: left;
    font-weight: 400;
    margin: -20px 0 70px 0;
  }
  .home__image-desktop {
    margin-bottom: -18px;
    margin-left: 35px;
    width: initial;
    display: initial;
  }
  .home__paragraph {
    margin-bottom: 0;
  }
  .home__subtitle {
    text-align: left;
    margin-left: 4px;
    font-size: 21px;
    line-height: 32px;
    max-width: initial;
    margin: 0;
  }
  .home__content-second {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .home__button {
    width: 100%;
    height: 68px;
    max-width: 286px;
    justify-content: center;
    display: flex;
    margin: 0;
    
  }
}


/** ___________ HOME ____________ */


/** _______________ Video _______________ */
.video {
  /* width: 100%;
  height: 100vh; */
  background-color: var(--color-white)
}
.video-container {
  max-width: 1536px;
  width: 100%;
  height: 246px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* position: absolute; */
  top: 0;
  left: 0;
  z-index: -1;
}
@media screen and (min-width: 768px) { 
  .video-container {
    width: 90vw;
    height: 640px;
  }
}
/** _______________ Video _______________ */


/** _______________ Location _______________ */

 .location {
  background-color: var(--color-third);
  height: 1892px;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  
}
.location__paragraph-container {
  text-align: center;
}
.location__paragraph {
  font-size: 26px;
  line-height: 38px;
  color: var(--color-text-location);
  font-weight: 400;
  text-align: center;
  width: 100%;
  height: fit-content;
  max-width: 300px;
  margin: 81px auto;
}
.location__images-container {
  display: flex;
  /* justify-content: center; */
  /* align-items: flex-start; */
  flex-direction: column;
  padding: 0 20px;
}


.location__img {
  text-align: center;
}
.location__img img {
  display: flex;
  width: 100%;
  /* transition: transform 0.2s ease-in-out; */
}
.location__img:hover img {
  /* transform: scale(1.1); */
  
}




.location__img span {
  font-family: var(--font-poppins);
  font-weight: 600;
  font-size: 18px;
}
.location__img p {
  border-bottom: 1px solid var(--color-border);
  font-family: var(--font-poppins);
  font-weight: 400;
  font-size: 18px;
  color: var(--color-text);
  padding: 15px 0;
  text-align: left;
  margin-bottom: 70px;
}

.location__welcome {
  
}
.location__welcome p {
  color: var(--color-primary);
  font-size: 200px;
}














@media screen and (min-width: 768px) { 
  .location {
    background-image: url(/images/esfera.png);
    background-position: top center;
    background-repeat: no-repeat;
    margin-top: -119px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
      
  }
  .location__paragraph {
    font-size: 32px;
    text-align: left;
    margin: 0;
    margin-top: -140px;
    max-width: 765px;
    color: var(--color-text-location);
    line-height: 52px;
  }
  .location__images-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 251px;
    width: 90%;
    gap: 28px;
    padding: 0;
  }
  .location__img span {
    font-size: 20px;
  }
  .location__img p {
    font-size: 20px;
    margin: 0;
  }
}










/* .location__paragraph-container {
    text-align: center;
    background: red;
    margin-top: -159px;
}

.location__images-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.location__img {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .location {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .location__paragraph-container {
    text-align: center;
    background: red;
    margin-top: -159px;
  }
  .location__container {
    
  }
  .location__images-container {
    background: blue;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 253px;
    gap: 28px;
  }
  .location_img {
    text-align: center;
  }
  .location__img img {
    display: flex;
    width: 681px;
  }
} 
 */




/* .location {
  background-color: var(--color-third);
  height: 1892px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.location__images-container {
  flex-direction: column;
  align-items: center;
}

.location__img {
  flex: none;
  max-width: 100%;
}
@media (max-width: 768px) {
  .location__images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .location__img {
    flex: 1 0 50%;
    max-width: 50%;
  }
} */

/** _______________ Location _______________ */
/** _______________ Gallery _______________ */
.gallery {
  background-color: var(--color-white);
  width: 100%;
  min-height: 2300px;
  position: relative;
}
/* 
.gallery__header {
  width: 100%;
  height: 520px;
  display: flex;
  justify-content: space-between;
}
.gallery__paragraph-content {
  padding-left: 181px;
  display: flex;
  width: 100%;
  max-width: 763px;
  font-size: 32px;
  gap: 41px;
  flex-direction: column;
  justify-content: end;
}
.gallery__paragraph {
  color: var(--color-secondary);
  font-family: Saol Display;
  font-weight: 400;
  font-size: 32px;
  line-height: 52px;
}
.gallery__link {
  cursor: pointer;
  background: none;
  gap: 10px;
  text-align: left;
  border: none;
  color: var(--color-fifth);
  font-family: Euclid Square;
  font-weight: 500;
  font-size: 16px;
  display: flex;
}

.gallery__header-image {
  position: relative;
  top: -72px;
  height: 300px;
}























.galeria-container {
  display: flex;
  justify-content: center;
}

.galeria {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  max-width: 1536px;
  width: 100%;
}



.imagen img {
  width: 100%;
  height: auto;
}




























.gallery__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}






.gallery__paragraph-second {
  display: flex;
  flex-direction: row; 
  align-items: center; 
}

.gallery__prueba2 img {
  width: 100px; 
  margin-right: 20px; 
}

.gallery__link {
  display: block; 
  margin-top: 10px; 
}






@media screen and (min-width: 768px) { 
  .gallery {
    background-image: url(/images/esfera-gallery.svg);
    background-repeat: no-repeat;
    background-position-y: 131px;
    background-position-x: center;
    
  }
  .gallery__header-image {
    position: relative;
    top: -113px;
    height: 505.84px;
  }
}



.gallery__header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: auto;
}

.gallery__header-image {
  max-width: 290px;
  height: auto;
} */







/* @media screen and (min-width: 768px) { 
  .gallery__header-image {
    max-width: 100%;
  }
  .galeria {
    display: grid;
    grid-gap: 20px;
    max-width: 1536px;
    width: 100%;
    padding: 0 73px;
  }
  
  .imagen {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .imagen:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }
  
  .imagen:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  
  .imagen:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  
  .imagen:nth-child(4) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }
  
  .imagen img {
    width: 100%;
    height: auto;
  }
  
} */








.gallery {
  background-color: var(--color-white);
  width: 100%;
  min-height: 2300px;
  position: relative;
}
.gallery__header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 260px;
}

.gallery__header-image {
  max-width: 290px;
  height: auto;
  position: relative;
  top: -26px;
}

.gallery__paragraph-content {
  display: flex;
  flex-direction: column;
  max-width: 618px;
  gap: 42.5px;
  padding: 20px;
  width: 100%;
  margin-top: 26px;
}
.gallery__paragraph {
  font-family: var(--font-poppins);
  font-weight: 400;
  line-height: 36px;
  font-size: 24px;
  color: var(--color-secondary);
}
.gallery__link {
  cursor: pointer;
  background: none;
  gap: 10px;
  text-align: left;
  border: none;
  color: var(--color-fifth);
  font-family: Euclid Square;
  font-weight: 500;
  font-size: 16px;
  display: flex;
}
.gallery__link img {

}

.galeria-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.galeria {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  max-width: 1536px;
  width: 100%;
}

.imagen img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) { 
  
  .gallery__header {
    height: 322px;
  }
  .gallery__header-image {
    
  }
  .gallery__paragraph-content {
    display: flex;
    flex-direction: column;
    max-width: 618px;
    margin-left: 73px;
    margin-top: -78px;
    padding: 0;
    width: 100%;
  }
  .gallery__paragraph {
    font-family: var(--font-poppins);
    font-weight: 400;
    line-height: 52px;
    font-size: 32px;
    color: var(--color-secondary);
  }
  
  .galeria {
    display: grid;
    grid-gap: 20px;
    max-width: 1536px;
    width: 100%;
    padding: 0 73px;
  }
  
  .imagen {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .imagen:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }
  
  .imagen:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  
  .imagen:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  
  .imagen:nth-child(4) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }
  
  .imagen img {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 1200px) {
  .gallery {
    background-image: url(/images/esfera-gallery.svg);
    background-repeat: no-repeat;
    background-position-y: 131px;
    background-position-x: center;
    
  }
  .gallery__header-image {
    max-width: 491.96px;
    position: relative;
    top: -29px;
  }
  .gallery__paragraph-content {
    margin-left: 181px;
  }
  .galeria-container {
    margin-top: 176px;
}
}




/** _______________ Gallery _______________ */



/** _______________ Form _______________ */
.form {
    background-color: var(--color-white);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.form__title {
  color: var(--color-fifth);
  font-family: Poppins;
  font-size: 37px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: center;
}

.form__tile-svg {
  top: 65px;
  width: 37px;
  left: 4px;
  position: relative;
}
.form__container {
  margin-top: 3em;
  display: grid;
  gap: 2.5em;
  max-width: 544px;
  width: 90%;
}
.form__group {
  position: relative;
  color: red;
}
.form__input {
  width: 100%;
  background: none;
  color: var(--color-secondary);
  text-transform: uppercase;
  font-size: 13px;
  padding: .6em .3em;
  border: none;
  outline: none;
  border-bottom: 1px solid #917145;
  font-family: Euclid Square;
}
.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
  transform: translateY(-12px) scale(.7);
  transform-origin: left top;
}
.form__label {
  color: #917145;
  cursor: pointer;
  font-family: Euclid Square;
  position: absolute;
  top: -10px;
  text-transform: uppercase;
  left: 0;
  font-size: 13px;
  transform: translateY(10px);
  transition: transform .5s, color .3s;
  
}





.form__button {
    color: #fff;
    position: relative;
    display: inline-block;
    cursor: pointer;
    gap: 15px;
    font-family: Euclid Square;
    color: #917145;
    background: none;
    max-width: 290px;
    height: 57px;
    font-size: 15px;
    width: 90%;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin: 28px auto 0;
    justify-content: center;
    border-radius: 300px;
    border: 1.5px solid #917145;
    transition: background-color 0.5s ease;
    
}
.form__button:hover {
    color: white;
    background-color: #917145;
    width: 200px;
}

.form__button:hover .form__arrow {
  content: url(/images/arrow-form-hover.svg);
}



.form__button::before {
  content: "POR FAVOR, LLAMARME";
}

.form__button:hover::before {
  content: "LLAMARME";
}

.form__button img {
  margin-left: 10px;
  transition: transform 0.2s ease-in-out;
}

.form__button:hover img {
  transform: translateX(10px);
}

























input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #917145;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  position: relative;
}

input[type="checkbox"]:checked {
  background-color: #917145;
}

input[type="checkbox"]:checked::after {
  content: "\2714";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #fff;
}


.form__group--checkbox {
  text-align: left;
  display: flex;
  gap: 21px;
  align-items: center;
}
.form__label-checkbox {
  font-family: Euclid Square;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.045em;
  text-align: left;
  text-transform: uppercase;
  color: var(--color-fifth);
}
.form__label-checkbox {
  font-family: Euclid Square;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.045em;
  text-align: left;
  text-transform: uppercase;
  color: var(--color-fifth);
}
.form__label-checkbox a {
  font-weight: 600;
  text-decoration: none;
  color: var(--color-fifth);
  text-decoration: line;
}
.form__label-checkbox a:hover {
  text-decoration: underline;
}






@media screen and (min-width: 768px) { 
  .form__title {
    font-size: 64px;
    font-weight: 400;
    line-height: 72px;
  }
  .form__container {
    width: 100%;
  }
  .form__tile-svg {
    top: 90px;
    left: 4px;
    width: initial;
    position: relative;
}
}
/** _______________ Form _______________ */

















.scroll-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
}

.scroll-button__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}










/** ____________ Footer ___________ **/
.footer {
  text-align: center;
  position: absolute;
  /* bottom: 0; */
  width: 100%;
  height: 720px;
  background-color: var(--color-third);
}
.footer__number {
  color: var(--color-primary);
}
.footer__paragraph {
  color: var(--color-text);
}
/** ____________ Footer ___________ **/







/* .menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  z-index: 1;
  display: none; 
}

.visible {
  display: block; 
} */

