@font-face {
    font-family: 'Euclid Square';
    src: url('../fonts/EuclidSquare-Bold.eot') format('eot'),
         url('../fonts/EuclidSquare-Bold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
